@import "@styles/variables";
@import "@styles/mixins";

.price {
  padding-top: 18px;

  @include mobile-breakpoint {
    padding-top: 14px;
  }

  &_large p {
    font-size: $font-3xl;

    @include tablet-breakpoint {
      font-size: $font-lg-p;
    }
  }
}
