@import "@styles/variables";

.price {
  padding-top: 18px;

  @media screen and (max-width: $mobile) {
    padding-top: 14px;
  }

  &_large p {
    font-size: $font-3xl;

    @media screen and (max-width: $tablet) {
      font-size: $font-lg-p;
    }
  }
}
