@import "@styles/mixins";
@import "@styles/variables";

.header {
  &__container {
    @include main-container;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 10px;

    @include desktop-s-breakpoint {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__counter {
    @include flex-center;
    padding: 10px 16px;
    background-color: $color-products-counter-background;
    border-radius: 20px;
    font-weight: 700;
    font-size: $font-md;
    line-height: 130%;
    color: $color-main;

    @include mobile-breakpoint {
      padding: 2px 10px;
      font-size: $font-xs;
      line-height: 180%;
    }
  }
}

.loader {
  @include flex-center;
  padding-top: 10%;
}

.infiniteScroll {
  overflow: hidden !important;
}
