@import '@styles/variables';

.loader {
  display: inline-block;
  border-radius: 50%;
  border: solid;
  border-top-color: $color-main;
  border-left-color: $color-main;
  border-bottom-color: $color-main;
  border-right-color: transparent;
  animation: $animation-loader linear infinite rotation;
}

.loader_size {
  &-s {
    width: 17px;
    height: 17px;
    border-width: 3px;
  }

  &-m {
    width: 35px;
    height: 35px;
    border-width: 5px;
  }

  &-l {
    width: 54px;
    height: 54px;
    border-width: 6px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
