@use "sass:color";
@import '@styles/variables';

.input {
  font-weight: 500;
  font-size: $font-lg;
  line-height: 180%;
  color: $color-text-main;
  background-color: $color-background-light;

  @media screen and (max-width: $tablet) {
    font-size: 0.875em;
  }

  &:focus {
    outline: 1px solid $color-main;
  }
}
