@use "sass:color";
@import '@styles/variables';
@import "@styles/mixins";

.input {
  font-weight: 500;
  font-size: $font-lg;
  line-height: 180%;
  color: $color-text-main;
  background-color: $color-background-light;

  @include tablet-breakpoint {
    font-size: $font-sm;
  }

  &:focus {
    outline: 1px solid $color-main;
  }
}
