@import '@styles/variables';

.button {
  padding: 16px 28px;
  display: flex;
  align-items: center;
  gap: 18px;
  font-weight: bold;
  font-size: $font-lg;
  line-height: 130%;
  cursor: pointer;
  transition: background-color ease $transition-m;

  &_primary {
    border: none;
    background-color: $color-main;
    color: $color-text-main-light;

    &:hover {
      background-color: $color-secondary;
    }
  }

  &_ghost {
    border: 2px solid $color-btn-border;
    background-color: $color-background-light;
    color: $color-text-main;

    &:hover {
      background-color: $color-btn-border;
    }
  }

  &_disabled, &_disabled:hover {
    background-color: $color-btn-secondary;
    opacity: 1 !important;
    border: none;
    color: $color-text-main-light;
  }

  &_loading, &_loading:hover {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.loader {
  width: 20px;
  height: 20px;
  border-top-color: $color-loader-secondary;
  border-bottom-color: $color-loader-secondary;
  border-left-color: $color-loader-secondary;
  transform: rotate(35deg);
}
