@import "@styles/variables";
@import "@styles/mixins";

.search-filter {
  flex-basis: 190px;

  @include tablet-breakpoint {
    flex-basis: auto;
  }

  &__placeholder {
    @include flex-center;
    padding: 27px 52px;
    gap: 12px;

    @include tablet-breakpoint {
      padding: 12px 10px;
      gap: 8px;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;

    @include tablet-breakpoint {
      width: 20px;
      height: 20px;
    }
  }
}
