@import '@styles/variables';
@import '@styles/mixins';

.wrapper {
  @include flex-center;
  padding: 0 20px;
  text-align: center;
}

.error {
  &__caption {
    margin: 0 auto;
    padding-top: 8%;
    width: fit-content;

    & a {
      text-decoration: underline;
      color: $color-main;
      transition: color ease $transition-m;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}
