@import "@styles/variables";

.slider {
  flex-basis: 600px;
  min-height: 600px;
  position: relative;

  @media screen and (max-width: $tablet) {
    flex-basis: auto;
    min-height: auto;
  }

  @media screen and (max-width: $mobile) {
    flex-basis: 330px;
    min-height: 330px;
  }

  &__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $color-slider;
    transition: all ease $transition-m;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &_left {
      left: 24px;
    }
    &_right {
      right: 24px;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: $mobile) {
        transform: translate(-50%, -50%) scale(0.7);
      }
    }

    @media screen and (max-width: $mobile) {
      width: 40px;
      height: 40px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
