@import "@styles/variables";

@mixin text-overflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin main-container() {
  padding-left: 100px;
  padding-right: 100px;

  @media screen and (max-width: $desktop-s) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (max-width: $tablet){
    padding-left: 24px;
    padding-right: 24px;
  }
}

@mixin centered-position {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin mobile-s-breakpoint {
  @media screen and (max-width: $mobile-s) {
    @content;
  }
}

@mixin mobile-breakpoint {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet-breakpoint {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop-s-breakpoint {
  @media screen and (max-width: $desktop-s) {
    @content;
  }
}

@mixin desktop-l-breakpoint {
  @media screen and (max-width: $desktop-l) {
    @content;
  }
}
