@use "sass:color";

$color-main: #518581;
$color-secondary: color.scale($color-main, $alpha: -30%);
$color-btn-secondary: #d9d9d9;
$color-btn-background-secondary: #ffffff;
$color-btn-border: #f3f3f3;
$color-loader-secondary: #ffffff;
$color-text-main-light: #ffffff;
$color-text-main: #151411;
$color-text-secondary: #afadb5;
$color-text-secondary-light: color.scale($color-text-secondary, $alpha: -85%);
$color-multidropdown: #ffffff;
$color-header-border: #f3f3f3;
$color-stroke-icon: #151411;
$color-stroke-icon-hover: #474438;
$color-burger: #151b33;
$color-background-light: #ffffff;
$color-background-dark: #000000;
$color-products-counter-background: #f9f9f9;
$color-slider: #000000;

$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.125rem;
$font-lg-p: 1.5rem;
$font-xl: 1.625rem;
$font-xl-p: 2rem;
$font-xxl: 2.5rem;
$font-3xl: 2.75rem;
$font-4xl: 4rem;

$mobile-s: 370px;
$mobile: 425px;
$tablet: 768px;
$desktop-s: 1024px;
$desktop-l: 1440px;

$animation-m: 0.3s;
$animation-loader: 0.6s;
$transition-m: 0.3s;
