@import "@styles/variables";
@import "@styles/mixins";

.grid {
  @include main-container;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 30px;

  @include tablet-breakpoint {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  @include mobile-breakpoint {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 15px;
  }
}
