@import "@styles/fonts/fonts";
@import "@styles/variables";

.typography {
  font-family: 'Eudoxus Sans', sans-serif;
  color: $color-text-main;
  line-height: 130%;
}

.bold {
  font-weight: 700 !important;
}

.secondary {
  color: $color-text-secondary;
}

.heading {
  &_xl {
    font-size: $font-4xl;
    font-weight: 700;

    @media screen and (max-width: $desktop-s) {
      font-size: $font-xxl;
    }

    @media screen and (max-width: $mobile) {
      font-size: $font-xl;
    }
  }
  &_lg {
    font-size: $font-3xl;
    font-weight: 700;

    @media screen and (max-width: $desktop-s) {
      font-size: $font-xl;
    }

    @media screen and (max-width: $mobile) {
      font-size: $font-lg;
    }
  }
  &_md {
    font-size: $font-xl;
    font-weight: 700;

    @media screen and (max-width: $desktop-s) {
      font-size: $font-xlg;
    }

    @media screen and (max-width: $mobile) {
      font-size: $font-sm;
    }
  }
}

.paragraph {
  &_lg {
    font-size: $font-xlg;

    @media screen and (max-width: $desktop-s) {
      font-size: $font-lg;
    }

    @media screen and (max-width: $mobile) {
      font-size: $font-sm;
    }
  }
  &_md {
    font-size: $font-lg;
    line-height: 180%;
    font-weight: 500;

    @media screen and (max-width: $desktop-s) {
      font-size: $font-md;
    }

    @media screen and (max-width: $mobile) {
      font-size: $font-xs;
    }
  }
  &_sm {
    font-size: $font-sm;
  }
}
