@import "@styles/variables";
@import "@styles/mixins";

.logo {
  display: flex;
  gap: 10px;

  &__icon {
    width: 42px;
    height: 42px;
    cursor: pointer;
    transition: opacity ease $transition-m;

    @include mobile-breakpoint {
      width: 32px;
      height: 32px;
    }
  }

  &__icon:hover {
    opacity: 0.8;
  }

  &__text {
    font-size: 142%;
    font-weight: 900;
    letter-spacing: 0.02em;
    line-height: 184%;

    @include mobile-breakpoint {
      font-size: 105%;
      line-height: 190%;
    }
  }
}
