@import '@styles/variables';

.toolbar {
  &__list {
    display: flex;
    gap: 24px;
  }

  &__icon {
    stroke: $color-stroke-icon;
    transition: stroke ease $transition-m;
  }
  &__icon:hover path {
    stroke: $color-stroke-icon-hover;
  }
}
