@import "@styles/variables";
@import "@styles/mixins";

.card {
  max-width: 394px;
  display: flex;
  flex-direction: column;
  font-size: $font-lg;
  line-height: 130%;

  &__image {
    display: block;
    margin-bottom: 26px;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    background-color: $color-image-background-fallback;

    @media screen and (max-width: $mobile) {
      margin-bottom: 14px;
      height: 130px;
    }
  }

  &__category {
    margin-bottom: 14px;
    @media screen and (max-width: $desktop-s) {
      margin-bottom: 10px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 6px;
    }
  }

  &__title {
    @include text-overflow;
    margin-bottom: 6px;
  }

  &__subtitle {
    @include text-overflow;
  }
}
