@import "@styles/variables";
@import "@styles/mixins";

.multiDropdown {
  position: relative;

  &__button {
    width: 100%;
    font-weight: 500;
    font-size: $font-lg;
    line-height: 180%;
    text-align: left;
    color: $color-text-main;
    background-color: $color-multidropdown;
    box-shadow: 0 4px 20px rgba(175, 173, 181, 0.2);
    cursor: pointer;

    &:focus {
      color: $color-text-main;
    }

    &:disabled {
      opacity: 0.7;
    }
  }

  &__summary {
    padding: 27px 28px;
    max-width: 190px;
    @include text-overflow;

    @media screen and (max-width: $tablet) {
      max-width: 100%;
    }
  }

  &__list {
    position: absolute;
    top: 96px;
    right: 0;
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: $color-multidropdown;
    box-shadow: 0 4px 20px rgba(175, 173, 181, 0.2);
    z-index: 20;

    &::-webkit-scrollbar {
      display: none;
      width: 0 !important;
    }

    & input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  &__item {
    display: block;
    padding: 16px 15px;
    color: $color-text-main;
    text-align: left;
    background-color: $color-multidropdown;
    cursor: pointer;
  }

  input:checked + &__item {
    color: $color-main;
  }
}
