@import "@styles/variables";
@import "@styles/mixins";

.search-input {
  @include flex-center;
  flex-basis: 1020px;
  padding: 15px 27px;
  box-shadow: $box-shadow;
  background-color: $color-background-light;

  &:focus {
    border: 1px solid $color-main;
  }

  @include tablet-breakpoint {
    flex-basis: auto;
  }

  @include mobile-breakpoint {
    padding: 8px;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &__icon {
    @include tablet-breakpoint {
      flex-basis: 24px;
      flex-shrink: 0;
    }
  }

  &__input {
    margin: 0 18px;
    flex-grow: 1;
    font-weight: 500;

    @include tablet-breakpoint {
      margin: 0 10px 0 12px;
      flex-shrink: 1;
      min-width: 120px;
    }

    @include mobile-breakpoint {
      flex-basis: 200px;
    }
  }

  &__button {
    flex-shrink: 0;

    @include tablet-breakpoint {
      padding: 10px 18px;
      font-size: $font-sm;
    }

    @include mobile-breakpoint {
      flex-grow: 1;
      justify-content: center;
    }
  }
}
