@import "@styles/variables";
@import "@styles/mixins";

.hero {
  margin: 100px 0 80px;
  width: 100%;
  text-align: center;

  @include desktop-s-breakpoint{
    margin: 50px 0 32px;
    padding: 0 32px;
  }

  @include mobile-breakpoint {
    margin: 50px 0 32px;
    padding: 0 24px;
  }

  &__heading {
    padding-bottom: 20px;
  }

  &__caption {
    max-width: 600px;
    margin: 0 auto;
  }
}
