@import "@styles/variables";

.hero {
  margin: 100px 0 80px;
  width: 100%;
  text-align: center;

  @media screen and (max-width: $desktop-s) {
    margin: 50px 0 32px;
    padding: 0 32px;
  }

  @media screen and (max-width: $mobile) {
    margin: 50px 0 32px;
    padding: 0 24px;
  }

  &__heading {
    padding-bottom: 20px;
  }

  &__caption {
    max-width: 600px;
    margin: 0 auto;
  }
}
