@import '@styles/variables';

.header {
  border-bottom: 2px solid $color-header-border;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1.87fr;
    align-items: center;
    padding: 39px 100px;
    position: relative;

    @media screen and (max-width: $desktop-s) {
      padding: 20px 40px;
    }

    @media screen and (max-width: $mobile) {
      padding: 20px 24px;
    }
  }

  &__burger-container {
    display: flex;
    flex-direction: row-reverse;
  }
}
